@charset "utf-8";
/* CSS Document */
.clear{
	clear:both}
.cl_head_top{
		background-color:#2e9fe5;
		width:678px;
	}
.cl_head_left{
	float:left;
	width:36px;
	height:68px;
	text-align:center;
	line-height:68px;
	color: #fff;
  font-size: 26px;
  font-weight:bold;
	}
.cl_head_frame{
	float:left;
	width:606px;
	height:68px;
	overflow:hidden;}
.cl_head_Right{
	float:left;
	width:36px;
	height:68px;
	text-align:center;
	line-height:68px;
	color: #fff;
  font-size: 26px;
  font-weight:bold;}
.cl_head_frameR{
	width:800px;
	height:68px;
	}
.cl_head_Point{
	float:left;
	width:90px;
	height:68px;
	margin-right:33px;
	}
.cl_head_Point_inside{
	width:90px;
	height:58px;
	text-align:center;
	margin-top:10px;
	}
.cl_head_Point.hl .cl_head_Point_inside{
	background-color:#FFFFFF;
	border-radius:10px 10px 0px 0px;
	}
.cl_head_Mname{
	font-size:12px;
	padding-top:10px;
	color:#fff;
	}
.cl_head_Mprice{
	font-size:12px;
	padding-top:10px;
	color:#fff;
	}
.cl_head_Point.hl .cl_head_Mname{
	color:#1A1A1A}
.cl_head_Point.hl .cl_head_Mprice{
	color:#F37507}
#calendar thead tr th{
	height:46px;
	background-color:#e4f5ff;
	line-height:46px;
	text-align:center;
	}
#calendar tbody td{
	height:75px;
	border-bottom:1px solid #e5e5e5;
	border-left:1px solid #e5e5e5;
	text-align:center;
	font-size:12px;
	}
#calendar tbody td:hover,#calendar tbody td.hl{
	background-color:#fef2e4;
	}
#calendar .dayNum{
	margin-top:8px;}
#calendar .adultPrice{
	margin-top:8px;
	color:#ff6d00;}
#calendar .leaveCt{
	margin-top:8px;
	color:#2e9fe5
	}