@charset "utf-8";
/* CSS Document */
.clear{
	clear:both}
.cl_head_top{
		background-color:#2e9fe5;
		width:750px;
		position:relative;
		height:68px;
		font-family: "Microsoft YaHei","HanHei SC";
		font-size: 30px;
	}
.cl_head_top .yearChange{
	color: #fff;
	line-height: 68px;
	float: left;
	margin-left: 10px;
}
.cl_head_top .monthChange{
	color: #fff;
	line-height: 68px;
	float: left;
	margin-left: 30px;
}
.cl_head_top .up{
	color: #fff;
	line-height: 68px;
	float: right;
	margin-right: 10px;
}
.cl_head_top .down{
	color: #fff;
	line-height: 68px;
	float: right;
	margin-right: 30px;
}
#calendar thead tr th{
	height:46px;
	background-color:#e4f5ff;
	line-height:46px;
	text-align:center;
	}
#calendar tbody td{
	height:75px;
	border-bottom:1px solid #e5e5e5;
	border-left:1px solid #e5e5e5;
	text-align:center;
	font-size:12px;
	}
#calendar tbody .enable{
	cursor:pointer;}
#calendar tbody td:hover,#calendar tbody td.hl{
	background-color:#fef2e4;
	}
#calendar .dayNum{
	margin-top:8px;}
#calendar .adultPrice{
	margin-top:8px;
	color:#ff6d00;}
#calendar .leaveCt{
	margin-top:8px;
	color:#2e9fe5
	}